h1 {
    color: green;
};

#board {
    text-align: center;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    border: 25px solid #333;
};

#solver {
    color: red;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
};
